:4000 {
    root * /var/www/html/build
    try_files {path} /index.html
    file_server
}

:5000 {
    handle_path /graphql/* {
        rewrite * /graphql/{path}
        reverse_proxy https://metabox.ctisoftware.vn
    }

    reverse_proxy http://web:3000
}